{% load static %}

<!DOCTYPE html>

<html lang="">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'frontend/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <script type="module" crossorigin src="{% static 'frontend/assets/index-CkMO84cT.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'frontend/assets/index-Cc9l18tv.css' %}">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
